<div class="header">
    <div class="navbar navbar-oc" role="navigation" data-spy="affix">
        <div class="container-fluid">
            <div>
                <div class="navbar-header">
                    <a ui-sref="console.tenant" class="navbar-brand logo" style="width: 180px;height:48px;line-height:50px;margin:0px;padding:0px;text-align:center;border-right:1px solid #2A303C;">
                        <img style="display: inline-block;height:28px;width:auto;" src="./images/ydlogo.png" alt="橘云 多租户管控平台" title="橘云 多租户管控平台">
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>