<div class="date-pick">

    <div uib-dropdown auto-close="outsideClick" is-open="opened">
        <div uib-dropdown-toggle >
            <input class="form-control" readonly="readonly" value="{{st | date: 'yyyy-MM-dd HH:mm'}}"  placeholder="执行时间" />
        </div>

        <ul uib-dropdown-menu>
            <li>
                <uib-datepicker ng-model="dt" datepicker-options="datePickerOptions"></uib-datepicker>
            </li>
            <li>
               <uib-timepicker ng-model="st" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></uib-timepicker>
            </li>
        </ul>
    </div>

</div>
