// 左导航
#console{
    

    #sidebar-container {
        width: 180px;
        padding: 0;
        -moz-transition:all 0.3s linear;transition:all 0.3s linear;
        position:fixed;/*侧边栏固定*/
    }
}


    