.tab-jia-default li.active .nav-link, .tab-jia-default li.active .nav-link:focus, .tab-jia-default li.active .nav-link:hover {
  border: none;
  background: none !important;
}

.nav-tabs > li > a {
  border: none;
}
.module-heading {
  color: #5a6378;
  height: auto;
  overflow: hidden;
  margin-bottom: 16px;
  .module_block_l {
    float: left;
    width:90%;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 0px;
    color: #A2B0C4;
    .img-block {
      width: 68px;
      height: 68px;
      border: 1px solid #CCD5E0;
      border-radius: 4px;
      background: #EFF2F7;
      float: left;
    }
    .img-detail {
      float: left;
      margin-left: 20px;
      .img-tit {
        font-size: 14px;
        color: #202D3C;
        font-weight: bold;
      }
      .img-time {
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 0px;
        color: #A2B0C4;
      }
    }
    .img-new {
      font-size: 12px;
      color: #1F2D3D;
      margin-top: 6px;
    }
  }
  .module_block_r {
    margin-top: 7px;
    float: right;
    .module_block_r_r{
      padding: 7px 10px;
      width:32px;
      height: 26px;
      background: #ffffff;
      border:solid 1px #ccd5e0;
      border-radius:4px;
      .icon-color{
        color: #475669;
      }
    }
    .module_block_r_r:hover{
      cursor: pointer;
    }
    .module_block_d{
      margin-left: 15px;
    }
  }
}

.tab-jia-default {
  .df_tit {
    font-size: 12px;
    color: #1F2D3D;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
    border-left: 3px solid #47B2FB;
    padding-left: 10px;
  }
  .row-part{
    padding-left: 0;
    .label-name{
      padding: 6px 14px 6px 0;
      float: left;
      display: inline-block;
      height: 26px;
      font-family: MicrosoftYaHei;
      font-size: 12px;
      color: #1F2D3D;
      letter-spacing: 0;
      line-height: 14px;
    }
    .dropdown-model {
      .btn-model {
        width: 200px;
        height: 26px;
        border: solid 1px #CCD5E0;
        padding: 0;
        .btn-model-span{
          margin-left: 0;
          float: left;
          padding: 2px 5px;
          font-size: 12px;
        }
        .uex-icon-caret-bottom{
          display: inline-block;
          float: right;
          padding-right: 10px;
        }
      }
    }
    .dropdown-menu-ul {
      //left: 62px;
      max-height: 156px;
      margin-top: -1px;
      overflow-y: auto;
      width: 200px;
    }
  }

}
.navitems {
  border-bottom: solid 1px #E0E6ED;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  text-decoration: none;
  list-style: none;
  li {
    width: 78px;
    height: 30px;
    text-align: center;
    padding-bottom: 0;
    float: left;
    cursor: pointer;
    span {
      display: inline-block;
      font-family: MicrosoftYaHei;
      font-size: 12px;
      color: #1F2D3D;
      letter-spacing: 0;
      line-height: 14px;
    }
    &:hover {
      // border-bottom: 3px solid #CCD5E0;
    }
  }
  li.active {
    // @include tabs-active;
    border-bottom: 3px solid #47B2FB;
    span {
      color: #47B2FB;
    }
  }
}
.resource-part{
  .df_tit {
    font-size: 12px;
    color: #1F2D3D;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
    border-left: 3px solid #47B2FB;
    padding-left: 10px;
  }
  .row-part{
    padding-left: 0;
    .label-name{
      padding: 6px 14px 6px 0;
      float: left;
      display: inline-block;
      height: 26px;
      font-family: MicrosoftYaHei;
      font-size: 12px;
      color: #1F2D3D;
      letter-spacing: 0;
      line-height: 14px;
    }
    .dropdown-model {
      .btn-model {
        width: 200px;
        height: 26px;
        border: solid 1px #CCD5E0;
        padding: 0;
        .btn-model-span{
          margin-left: 0;
          float: left;
          padding: 2px 5px;
          font-size: 12px;
        }
        .uex-icon-caret-bottom{
          display: inline-block;
          float: right;
          padding-right: 10px;
        }
      }
    }
    .dropdown-menu-ul {
      //left: 62px;
      max-height: 156px;
      margin-top: -1px;
      overflow-y: auto;
      width: 200px;
    }
  }
}

