// bower:scss
// endbower
@import "global.scss";
@import "sidebar";
@import "datepick";
@import "checkbox";
@import "offlinedetail";
@import "offlineQuery";
// 局部变量
$titcolor: #333 !default;
$smbg: #c256fc !default;
.create_btn{
  width: 48px;
  height: 26px;
  line-height: 26px;
  background: #47B2FB;
  border-radius: 4px;
  color: #fff;
  border:none;
}
.err-tip {
  color: #fb6362;
  font-size: 10px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h3_tit{
  font-size: 12px;
  color: #1F2D3D;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 10px;
  border-left: 3px solid #47B2FB;
  padding-left: 10px;
}
.require:after {
  content: '*';
  margin: 0 5px 0 3px;
  color: #ec6941;
}
.dropdown-select > .btn {
  width: 100%;
  text-align: left;
  background: #fff;
  border: 1px solid #ccd5e0;
  border-radius: 4px;
  height: 26px;
  position: relative;
  font-size: 12px;
  color: #475669;
  letter-spacing: 0;
  line-height: 14px;
}
.dropdown-select {
  float: left;
}
.chang-image-box .dropdown-select > .btn .caret {
  top: 11px;
}
.dropdown-select > .btn .caret {
  right: 10px;
  position: absolute;
  top: 11px;
}
.btn .caret {
  margin-left: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

  .main {
    // width: 100%;
    margin-top: 50px;
    display: block;
    margin-left: 180px;
    .project-list {
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0;
      padding-bottom: 10px;
      > div {
        height: 160px;
        margin-top: 30px;

        > div {
          padding: 0px 15px;
          @include card;
          height: 160px;
          text-align: center;
          img {
            width: 60px;
            height: 60px;
            margin-top: 30px;
          }
          p {
            font-size: $title-size-default;
            margin-top: 15px;
          }
        }
        > div:hover {
          box-shadow: 0px 0px 4px 2px #dedede;
        }
      }
    }
  }
  .right-content {
    > li {
      .basic_block {
        height: auto;
        margin: {
          top: 30px;
          left: 0;
          right: 0;
          bottom: 20px;
        }
        border: none;
        > li {
          margin-top: 0;
          background: #fff;
          overflow: inherit;
          display: table-row;
          height: 26px;
          > div {
            line-height: 26px;
            padding: 10px;
          }
          > div:nth-child(1) {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 160px;
            border-bottom: 1px solid #eaeaea;
            text-align: left;
            text-indent: 20px;
            color: $font-color-lightgrey;
            font-size: $title-size-default;
          }
          > div:nth-child(2) {
            display: table-cell;
            width: 920px;
            text-align: justify;
            border-bottom: 1px solid #eaeaea;
            color: $font-color-default;
            font-size: $font-size-default;

          }
        }
        > li:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .right-content {
    padding: 0px 30px;
    margin: 0;
    width: 100%;
    height: auto;
    > li {
      width: 100%;
      height: auto;
      display: none;
      .user-authorize {
        margin-top: 30px;
        span {
          width: 100px;
          height: 30px;
          line-height: 30px;
          color: #fff;
          text-align: center;
          @include button-default;
          display: inline-block;
          font-size: $font-size-default;
          cursor: pointer;
        }
        span:hover {
          @include button-hover;
        }
      }
      .tenant-serve-list {
        padding: 0;
        > li {
          overflow: hidden;
          width: 100%;
          height: 60px;
          line-height: 60px;
          @include collapse-default;
          background: #FFFFFF !important;
          margin-top: 30px;
          .lscn {
            height: 100%;
            line-height: 60px;
            padding: 0;
            padding-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

          }
          .tooltip {
            text-overflow: clip;
            white-space: normal;
            line-height: 24px;
          }
          .tentusername {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          a {
            padding: 5px 15px;
            color: $color-red;
          }
          a:hover {
            background: $color-red;
            color: $font-color-white;
          }
          label {
            color: #999;
            white-space: nowrap;
            font-weight: normal;
          }
        }
        li:hover {
          box-shadow: 0px 0px 4px 2px #dedede;
          background: $font-color-lightgrey;
        }
        li div:nth-child(1) {
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
      .resource-wrop {
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 10px;
        @include collapse-default;
        .resource-top {
          line-height: 30px;
          padding: 14px;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          border-radius: 4px;
          background: #FFFFFF;
          &:hover {
            box-shadow: 0px 0px 4px 2px #dedede;
            background: $font-color-lightgrey;
          }
          > div {
            text-align: left;
            font-size: $title-size-default;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: 30px;
            .check-btn {
              display: inline-block;
              width: 28px;
              height: 28px;
              background: url("../images/listpic1.png") no-repeat;
              -webkit-background-size: 28px;
              background-size: 28px;
              cursor: pointer;
              transform: rotate(0deg);
              -ms-transform: rotate(0deg); /* IE 9 */
              -webkit-transform: rotate(0deg); /* Safari and Chrome */
              -o-transform: rotate(0deg); /* Opera */
              -moz-transform: rotate(0deg); /* Firefox */
            }
            .rotate {
              display: inline-block;
              width: 28px;
              height: 28px;
              background: url("../images/listpic1.png") no-repeat;
              -webkit-background-size: 28px;
              background-size: 28px;
              cursor: pointer;
              transform: rotate(-90deg);
              -ms-transform: rotate(-90deg); /* IE 9 */
              -webkit-transform: rotate(-90deg); /* Safari and Chrome */
              -o-transform: rotate(-90deg); /* Opera */
              -moz-transform: rotate(-90deg); /* Firefox */
            }
          }
        }
        .resource-list {
          background: #F5F6F9;
          margin-top: 25px;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          .list-con {
            width: 100%;
            border-top: 1px solid #f7f7f7;
            padding: 20px;
            .used {
              text-align: center;
              font-size: 40px;
              color: $color-red;
            }
            .chart-title {
              color: #999;
              text-align: center;
            }
            .highcharts-container {
              left: 50%;
              margin-left: -75px;
            }
            .run-num {
              font-size: 40px;
              color: $color-red;
              height: 150px;
              line-height: 150px;
              padding-right: 30px;
            }
          }
        }
      }
    }
    > li.showcon {
      display: block;
    }
  }

input:-ms-input-placeholder,textarea:-ms-input-placeholder{color: #A2B0C4;font-size:12px;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color: #A2B0C4;font-size:12px;}
// input:focus{border:1px solid #47B2FB!important;}

/////////////////////////////////// 图片字体库  开始
@font-face {
  font-family: 'uex-icon';
  src: url('../fonts/uex-icon.eot?uryy2b');
  src: url('../fonts/uex-icon.eot?uryy2b#iefix') format('embedded-opentype'),
  url('../fonts/uex-icon.ttf?uryy2b') format('truetype'),
  url('../fonts/uex-icon.woff?uryy2b') format('woff'),
  url('../fonts/uex-icon.svg?uryy2b#uex-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="uex-icon-"], [class*=" uex-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'uex-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 0.9; */
  vertical-align: top;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// 关闭
.uex-icon-cross:before {
  color:  #A2B0C4;
  font-size: 14px;
  content: '\e911';
}

.uex-icon-monitor-config:before{
  content:"\e96e";
  font-size:12px;
  color: #47B2FB;
}

// 搜索
.uex-icon-search:before {
  color:#A2B0C4;
  font-size: 12px;
  content: '\e91d';
}
/*添加 + */
.uex-icon-add:before {
  content: '\e913';
}

.df_close_btn .uex-icon-delete:before{color: #475669;font-size:12px;}
/*删除*/
.uex-icon-delete:before {
  content: '\e925';color:#47b2fb;
    font-size:12px;
}
.df_close_btn:hover{color:#82CAFB;}
.df_close_btn:hover .uex-icon-delete:before{color:#82CAFB;}

.uex-icon-edit:before {
  color: #47b2fb;
  font-size: 12px;
  content: '\e924';
}

.uex-icon-view:before{
  content: '\e931';
  color:#57B5F2;font-size:12px;
}

.uex-icon-system-configuration:before{
  content:'\e9da';
  color:#57B5F2;font-size:12px;
}
// 实时查询
.uex-icon-data-query:before{
  content:'\e9b4';
  font-size:12px;
  color: #475669;
}

#sidebar [treecontrol].tree-light li a.select + .uex-icon-data-query:before{color:#fff;}
// 离线查询
.uex-icon-data-log-query:before{
  content:'\e9b0';
  font-size:12px;
}
#sidebar [treecontrol].tree-light li a.select + .uex-icon-data-log-query:before{color:#fff;}



/////////////////////////////////// 图片字体库  结束


body.ng-pageslide-body-open::before {
  content: '.';
  display: block;
  position: fixed;
  top: 0;
  //height:100%;
  background-color: rgb(0, 0, 0);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  opacity: 0.5;
  transition: opacity 1s;
  opacity: 0.5;
  pointer-events: all;
}

body.ng-pageslide-body-closed::before {
  transition: opacity 1s;
  content: '.';
  display: block;
  position: fixed;
  top: 0;
  //height:100%;
  background-color: rgb(0, 0, 0);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
}

.uex-icon-menu-row:before {
  content: "\e946";
}

/*
 * ** Header Navbar ------------------------------------------------------------------------------
 */

.header {
  padding: 0 !important;
  margin: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  .navbar-oc {
    background: $navbar-background-color;
    height: 50px;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 11;
    .navbar-nav {
      li {
        a {
          @include navbar-font;
          &:hover {
            @include navbar-active;
            color: $font-color-lightgrey;
            height: 48px;
          }
        }
      }
      li.active {
        a {
          @include navbar-active;
          height: 48px;
        }
      }
      li.bdb {
        // border-bottom: 4px solid $color-main;
      }
    }
    .nav {
      li {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .navbar-form {
      // border-left: 1px solid #E0E6ED;
      height: 48px;width:152px;
      margin: 0;
      padding: {
        top: 10px;
        bottom: 10px;
        left: 14px;
        right: 14px;
      }
      margin: {
        // left: 40px;
      }
      button {
        color: $font-color-white;
        box-shadow: none;
        outline: none;
      }
    }
    .navbar-form:hover{background:#1f2d3d;}
  }
  // End of navbar-oc
  .navbar-brand.logo {
    overflow: hidden;
    margin-left: 0 !important;
    padding: 8px 15px 5px 0px;
    height: auto;
    border-right: 1px solid #3A4252;
    img {
      width: 40px;
      height: auto;
    }
    font {
      padding-left: 8px;
      font-family: MicrosoftYaHei;
      font-size: 13px;
      color: #FFF;
      letter-spacing: 0;
      line-height: 36px;
    }
  }
}

/* ------------------------------------------- End of Navbar ------------------------------------------ */
/*
 * ** View Container -------------------------------------------------------------------------------------
 */

.view-container {
  margin: {
    top: 0;
  }
  font-size: $font-size-default;
  color: $font-color-default;
  // background: $background-color;  //服务影响  重要
}

/* ------------------------------------------- End of View Container ------------------------------------ */

.set_top_tu {
  width: 146px;
  height: 146px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -72px;
  margin-top: -72px;
}

body {
  font-family: "微软雅黑", Helvetica;
}

body {
  font-family: "微软雅黑", Helvetica;
}

.modal-dialog {
  .well-log {
    background: none !important;
    border: none;
  }
  .modal-close {
    float: right;
    width: 15px;
    height: 15px;
    background: url(../images/closenew2.png) no-repeat center;
  }

}

.page-style {
  text-align: center;
  padding-right: 16px;
  a {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    letter-spacing: 0;
  }
  .pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    color: #475669;
  }
  .pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    color: #475669;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #FFFFFF;
    border-color: $smbg;
    color: $smbg;
  }
  .pagination > li > a, .pagination > li > span {
    color: #475669;
  }
  .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: $smbg;
    border-color: $smbg;
    color: #FFFFFF;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.row {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  background: #F9FAFC;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #E0E6ED;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #E0E6ED;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  // For desktop
  //.container {
  //  max-width: 730px;
  //}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Custom css*/

.panel {
  margin-top: 10px;
}

.panel-oc {
  border-color: #E0E6ED;
}

.panel-oc > .panel-heading {
  color: #fff;
  background-image: linear-gradient(to bottom, #f68b3e, #F68b3e);
}

/****************头部********************/

.btn-default-tmp {
  background: none;
  color: #d5d5d5;
  border: 0;
  padding: 8px 12px;
}

.btn-default-tmp:hover, .btn-default-tmp:focus, .btn-default-tmp:active, .btn-default-tmp.active, .open .dropdown-toggle.btn-default-tmp {
  background: none;
  color: #d5d5d5;
  border: 0;
}

.set_text_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.console_name p {
  margin-bottom: 0;
  font-size: 16px;
  color: $titcolor;
  display: block;
  width: 100px;
}

/****************头部********************/
.navbar-header .brand {
  color: #FFFFFF;
  font-size: 16px;

}

/* 3rd party css*/
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
ul[dnd-list] li {
  background-color: #F9FAFC;
  border: 1px solid #E0E6ED;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
ul[dnd-list] li.selected {
  background-color: #dff0d8;
  color: #3c763d;
}

.wizard-card-container {
  height: 300px;
  overflow-y: scroll;
}

.handle {
  cursor: move;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

a.choose,
a.choose:hover,
a.list-group-item:focus,
ul#actions > li > a:hover,
ul#quick > li > a:hover {
  background-color: #999999;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

i.danger {
  color: red;
}

i.success {
  color: green;
}

i.warning {
  color: orange;
}

ul#actions > li.disabled > a:hover {
  background-color: #999999;
  color: #777777;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

g div {
  color: black;
  font-size: 14px;
}

.text-center {
  text-align: center;
}

a:hover, a:focus {
  text-decoration: none;
}

input.ng-invalid.ng-touched,
div.ng-invalid.ng-touched div.tokenfield,
div.ng-invalid.ng-touched.ui-select-container span.ui-select-toggle {
  border: 1px solid red;
}

#mainFrame input.ng-invalid.ng-touched + span.input-group-btn button {
  border: 1px solid red;
  color: red;
}

span.redtip,
div.ng-invalid.ng-touched.ui-select-container i.caret.pull-right {
  color: red;
}

.popover-content {
  width: 200px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

ul.ui-autocomplete {
  width: 112px !important;
  z-index: 1100 !important;
}

table a {
  cursor: pointer;
}

.ribbon {
  background-color: #a00;
  box-shadow: 0 0 10px #888;
  left: -4.6em;
  -moz-box-shadow: 0 0 10px #888;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 46px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 10px #888;
  -webkit-transform: rotate(-45deg);
  white-space: nowrap;
  width: 19em;
  z-index: 9999;
  pointer-events: none;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
  pointer-events: none;
}

.cep {
  background-color: #a00;
  box-shadow: 0 0 10px #888;
  color: #FFF;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  min-width: 1200px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.icon-2x {
  font-size: 2em;
}

.version-slider {
  width: 100%;
  height: 69px;
  margin: 5px 0;
}

.version-slider .icon-chevron-box.disabled {
  cursor: not-allowed;
}

.version-slider .icon-chevron-box {
  margin-top: 15px;
  width: 4%;
  cursor: pointer;
  margin-right: .3em;
}

.version-slider .flow-element .version-box {
  position: relative;
  height: 90%;
}

.version-slider .flow-element {
  height: 69px;
  width: 21.2%;
  max-width: 163px;
}

.version-slider .icon-chevron-box, .version-slider .icon-chevron-box {
  color: #d2d9dd;
}

.version-slider .flow-element .version-box .box {
  cursor: pointer;
  width: 92%;
  height: 100%;
  background-color: #F9FAFC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #E0E6ED;
  font-size: 11px;
  outline: none;
}

.version-slider .flow-element .version-box .box:hover, .version-slider .flow-element .version-box .box.active {
  background-color: #F9FAFC;
}

.version-slider .flow-element .version-box .box .top-label {
  min-width: 20px;
  padding: 2px 2px;
}

.version-slider .flow-element .version-box .box.displayed .content {
  color: #444444;
}

.version-slider .flow-element .version-box .box .content {
  max-width: 97% !important;
}

.version-slider .flow-element .version-box .box .author, .version-slider .flow-element .version-box .box .content {
  padding: 0 2px;
  text-align: center;
  color: #555555;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.version-slider .flow-element .version-box .box .stack-label {
  margin-right: 6px;
  text-align: right;
  line-height: 11px;
}

.version-slider .flow-element .version-box .box .current-label {
  text-align: center;
  padding: 2px 5px;
  margin-top: -4px;
}

.version-slider .icon-chevron-box .glyphicon-chevron-left:hover, .version-slider .icon-chevron-box .glyphicon-chevron-right:hover {
  color: #808080;
}

.version-slider .icon-chevron-box.disabled {
  cursor: not-allowed;
}

.version-slider .icon-chevron-box {
  outline: none;
}

.abn-tree i {
  margin-right: 5px;
  outline: none;
}

.modal-dialog {
  margin-top: 90px;
}

.ta-root {
  outline: none;
}

.ta-editor.form-control.editor-height, .ta-scroll-window.form-control.editor-height {
  height: 100px;
  min-height: 100px;
  overflow: hidden;
  font-family: inherit;
  font-size: 100%;
}

.form-control.editor-height > .ta-bind {
  min-height: 100px;
}

.form-control.editor-height .placeholder-text::before {
  color: #999999;
}

//// 弹窗
.small_alert {
  width: 300px !important
}

.modal-default .modal-content .modal-footer {
  border-top: none;
  text-align: center;
  padding: 20px 0px;
  background: #F9FAFC;
  margin: 0px;
}

.modal-footer .btn-newst {
  width: 90px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  color: #fff;
  @include button-default;
  margin-right: 20px;
  cursor: pointer;
  &:hover {
    @include button-hover;
  }
}

.modal-footer .btn-newst-disabled {
  width: 90px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  color: #fff;
  @include button-default;
  background: #A2B0C4;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .btn-error {
  color: $color-red;
  font-size: $font-size-default;
  display: inline-block;
  margin-right: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-select {
  width: 75%;
  height: 30px;
  display: inline-block;
  border: 1px solid #CCD5E0 !important;
  border-radius: 4px;
  input {
    border-radius: 4px;
  }
  .service_drop {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    top: 27px;
    border: 1px solid #E0E6ED;
    border-top: 0;
    margin: 0;
    padding: 0;
    max-height: 145px;
    overflow-x: hidden;
  }
  .ser_bg_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 6px;
    height: 6px;
    border: solid #a3a3a4;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
  }
  .open .ser_bg_btn {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px;
  }
  .that-btn {
    width: 6px;
    height: 6px;
    border: solid #a3a3a4;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
  }
  .ser-btn-wrop {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    text-align: right;
    margin: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
  }
  .bs-list-title {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #333;
    padding-left: 9px;
    background: #F9FAFC;
    line-height: 28px;
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    .del-bslist {
      float: right;
      // display: inline-block;
      width: 15px;
      height: 15px;
      background: url(../images/closenew2.png) no-repeat center;
      position: absolute;
      top: 7px;
      right: 6px;
      cursor: pointer;
    }
  }

}

.confirm-con {
  .con-wrop {
    width: 100%;
    margin-top: 15px;
    textarea {
      border: 1px solid #CCD5E0 !important;
      border-radius: 4px;
    }
    .select-title {
      width: 100%;
      display: inline-block;
      font-size: 14px;
      color: $titcolor;
      padding-left: 9px;
      background: #F9FAFC;
      border-radius: 4px;
    }
    .dropdown {
      height: 28px;
    }
    .dropdown > a {
      display: inline-block;
      width: 100%;
      line-height: 28px;
      color: $titcolor

    }
    label {
      width: 80px;
      // display: inline-block;
      float: left;
      color: #999;
      line-height: 30px;
      font-weight: normal;
      font-size: 14px;
    }
    input {
      width: 65%;
    }
    textarea {
      width: 475px;
      height: 60px;
      color: $titcolor;
      padding: 10px;
      font-size: 14px;
      word-break: break-all;
      border: 1px solid #E0E6ED;
      overflow-y: auto;
    }
    .error_block_tit p {
      margin: 5px;
    }
  }
  .open > .dropdown-menu {
    width: 100%;
    top: 30px
  }

}

.ta-cd {
  width: 56px;
  height: 24px;
  margin: 0;
  padding: 0;
  float: right;
  position: absolute;
  right: 0;
  cursor: pointer;
  display: none;
}

.ta-zg {
  background: url("../images/images_06.png") no-repeat;
}

.ta-zy {
  background: url("../images/images_08.png") no-repeat;
}

.yes-me {
  background: url("../images/images_19.png") no-repeat;
}

.no-me {
  background: url("../images/images_18.png") no-repeat;
}

.del-ten {
  width: 16px;
  height: 16px;
  margin-top: 18px;
  color: lightgrey;
  display: none;
}

.del-ten:hover {
  color: $color-red;
  font-weight: 560;
  cursor: pointer;
}

.edit-ten {
  width: 16px;
  height: 16px;
  margin-top: 18px;
  color: lightgrey;
  display: none;
}

.edit-ten:hover {
  color: $color-main;
  font-weight: 560;
  cursor: pointer;
}

/*错误提示*/
.error_block_tit {
  display: inline-block;
  text-align: left;
  background: #ff304a;
  text-align: center;
  color: #fff;
  font-size: 12px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  padding: 6px 12px 6px;
  margin-left: 10px;
  -webkit-animation: rotateZ 1.5s;
  -moz-animation: rotateZ 1.5s;
  animation: rotateZ 1.5s;
  top: -2px;
  -webkit-animation-iteration-count: 0.3;
  -moz-animation-iteration-count: 0.3;
  animation-iteration-count: 0.3;
}

.error_block_tit p:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid #ff304a;
  border-bottom: 6px solid transparent;
  left: -5px;
  margin-top: 3px;
}

@keyframes rotateZ {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
  }
}

@-webkit-keyframes rotateZ {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
  }
}

@-moz-keyframes rotateZ {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
  }
}

input, textarea {
  outline: none;
}

textarea {
  resize: none;
}

:focus {
  outline: 0;
}

a:focus {
  outline: 0;
}

.modal {
  overflow: hidden;
}

/*错误提示*/
.block_close {
  background: url(../images/closenew2.png) no-repeat center;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  padding: 14px;
}

.clear {
  clear: both;
  overflow: hidden;
  height: 0;
}

/*弹出框公共样式*/
.modal_name {
  font-family: MicrosoftYaHei-Bold;
  font-size: 14px;
  color: #1F2D3D;
  letter-spacing: 0;
  line-height: 16px;
}

.confirm-con .con-wrop .modal_input {
  width: 100%;
  padding: 4px 9px;
  border: 0;
  font-size: 14px;
  color: $titcolor;
}

.modal_select {
  width: 58%;
}

.modal_red {
  color: #fa273f;
  display: inline-block;
  vertical-align: middle;
}

.service_drop .dropdown-menu > li > a {
  padding: 8px 9px;
}

.modal_select_red {
  border: 1px solid #ff2c44;
}

.dropdown-menu > li > a {
  padding: 8px 9px;
}

/*输入框获取焦点*/
input:focus, textarea:focus {
}

.new-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}

//按钮加载中
.next_one_load {
  text-indent: -5px;
}

.next_one_load i {
  background: url(../images/loading.png) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  -webkit-animation: rotate 1s linear infinite;
  -moz-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}

.new-loading img {
  -webkit-animation: rotate 1s linear infinite;
  -moz-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

.ng-pageslide {
  background-color: #fff;
  border: 1px solid #e0e6ed;
  margin-top: 50px;
}

// 我的待办页面CSS

.todoListRequestTypeBlock {
  border: 1px solid #CCD5E0;
  position: relative;
  padding: 11px 5px 11px 5px;
  box-sizing: border-box;
  width: 140px;

}

.showBlueBackground {
  background-color: #47B2FB;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.showNormalBackground {
  background-color: #F9FAFC;
  border: 1px solid #CCD5E0;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #475669;
  letter-spacing: 0;
}

.myTodoListPage {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px 10px 20px 10px;
}

.mytodolist_block {
  padding: 30px 10px 0px 10px;
}

.mytodolist_table {
  width: 100%;
  border-collapse: collapse;
  padding: 30px 10px 20px 10px;
}

.mytodolist_table_header {
  background: #E5E9F2;
  border-radius: 2px;

}

.mytodolist_table_header > tr {
  height: 30px;
}

.mytodolist_table_header > tr > th {
  text-align: center;
}

.mytodolist_table > tbody > tr {
  height: 50px;
  background: #F9FAFC;
  border: 1px solid #E0E6ED;
  border-radius: 2px;
  border-radius: 2px;
}

.tableRowContent {
  // background-color:red;
  margin-top: 10px;
  padding-top: 15px;
  background: #F9FAFC;
  border: 1px solid #E0E6ED;
  border-radius: 2px;
  height: 50px;
}

.tableRowContent > label {
  display: inline-block;
  text-align: center;
}

.tableRowContent:hover {
  background: #FFFFFF;
  border: 1px solid #E0E6ED;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}

.notifynum {
  background: #FB6362;
  border-radius: 100px;
  margin-bottom: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 2px;
}

.notifynum > span {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 9px;
}

.myClusterPage {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px 10px 20px 10px;
}

// 头部
.head_top {
  height: 26px;
  margin-bottom: 20px;
}

.head_top .hd_left {
  float: left;
}

.head_top .hd_right {
  float: right;
}

.hd_search {
  width: 170px;
  height: 26px;
  position: relative;
  .input_set {
    width: 170px;
    height: 26px;
    border: 1px solid #CCD5E0;
    border-radius: 4px;
    background: #FFFFFF;
    input {
      width: 160px;
      height: 24px;
      padding: 4px;
      border: none;
      border-radius: 4px;
      font-family: MicrosoftYaHei;
      font-size: 12px;
      color: #A2B0C4;
    }
  }
  .oc_search {
    color: #A2B0C4;
    position: absolute;
    right: 9px;
    top: 6px;
    cursor: pointer;
  }
}

// 表格
.table-default {
  border: 1px solid #ddd;
}

.table-default > tbody > tr > th {
  padding-left: 20px;
  background: #E5E9F2;
  color: #393f4f;
  border-top: 1px solid #CCD5E0;
  font-weight: normal;
}

.table-default > tbody > tr > th,
.table-default > tbody > tr > td {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 4px;
  color: #5a6378;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-default > tbody > tr:hover {
  background: none;
}

.table-default .tab_oc_set:hover {
  background: #E0E6ED;
}

.sidebar {
  top: 50px;
  z-index: 8;

}

.defaultBtn {
  width: 80px!important;
  background: #47B2FB;
  border-radius: 4px;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 14px;
  height: 26px;
  border: 0px;
}

.defaultBtn[disabled] {
  background: #EFF2F7;
  border: 1px solid #E0E6ED;
  border-radius: 4px;
}

.defaultBtn:hover {
  background: #98D4FD;
}

.defaultBtn:active {
  background: #168DDE;
}

.fantomBtn {
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #47B2FB;

  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #47B2FB;
  letter-spacing: 0;
  //line-height: 14px;

  height: 26px;
}

.fantomBtn:hover {
  border: 1px solid #98D4FD;
  color: #82CAFB;
}

.fantomBtn:active {
  border: 1px solid #168DDE;
  color: #168DDE;
}

.changeBtn{
  border:none;
  padding: 6px 0;
  background: #47B2FB;
  border-radius: 4px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 14px;
  width: 80px;
  height: 26px;
}
.changeBtn:hover{
  background: #98D4FD;
}
// Customize ui-notification:

.ui-notification {
  position: fixed;
  z-index: 9999;

  width: 300px;

  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;

  background: #FFFFFF;
  border: 1px solid #E0E6ED;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.08), 1px 1px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 2px;

  width: 240px;
  height: 77px;
}

.ui-notification.clickable {
  cursor: pointer;
}

.ui-notification.clickable:hover {
  opacity: .7;
}

.ui-notification.killed {
  -webkit-transition: opacity ease 1s;
  -o-transition: opacity ease 1s;
  transition: opacity ease 1s;

  opacity: 0;
}

.ui-notification > .title {
  font-weight: bold;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #1F2D3D;
  letter-spacing: 0;
  line-height: 16px;
}

.ui-notification > h3 {
  display: block;
  margin: 10px 10px 0 10px;
  padding: 0 0 5px 0;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  font-weight: bold;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #1F2D3D;
  letter-spacing: 0;
  line-height: 16px;
}

.ui-notification a {
  color: #000;
}

.ui-notification a:hover {
  text-decoration: underline;
}

.ui-notification > .message {
  margin: 10px 10px 10px 10px;

  font-weight: bold;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #1F2D3D;
  letter-spacing: 0;
  line-height: 16px;
}

.ui-notification > .icon_success {
  color: #00CF9B;
}

.ui-notification > .icon_error {
  color: #FB6362;
}

.ui-notification > .icon_info {
  color: #47B2FB;
}

.ui-notification > .icon_warn {
  color: #F8A900;
}

.ui-notification.warning {
  color: #000;
  background: #FFFFFF;
}

.ui-notification.error {
  color: #000;
  background: #FFFFFF;
}

.ui-notification.success {
  color: #000;
  background: #FFFFFF;
}

.ui-notification.info {
  color: #000;
  background: #FFFFFF;
}
.uex-icon-caret-bottom:before{
content: '\e906';
font-size:12px;
}

.OperatingContent .uex-icon-0:before{
  content:'\e9e1';
  font-size:12px;color:gray;cursor:not-allowed;
}
.OperatingContent .uex-icon-2:before{
  content:'\e9e1';
  font-size:12px;color:#57B5F2;
}
.OperatingContent .uex-icon-1:before{
  content:'\e9e1';
  font-size:12px;color:#57B5F2;
}
.OperatingContent .uex-icon-0:before{
  content:'\e9e1';
  font-size:12px;color:#A2B0C4;
}

.uex-icon-stop-all-green:before{
  content:'\e9e1';
  font-size:12px;color:#57B5F2;
}

// .uex-icon-stop-all-gray:before{
//   content:'\e9e1';
//   font-size:12px;color:gray;cursor:not-allowed;
// }

.service-table .uex-icon-caret-bottom:before{
  content: '\e906';
  font-size:12px;
  color:#A2B0C4;position: absolute;left:5px;
  }

  .service-table .uex-icon-caret-top:before{
    content: '\e907';
    font-size:12px;
    color:#A2B0C4;position: absolute;left:5px;
    }

  .uex-icon-caret-top:before{
    content: '\e907';
    font-size:12px;
    color:#168DDE;
  }
  .build_list_toggle.open .uex-icon-caret-top:before{
    content: '\e906';
    font-size:12px;
    color:#168DDE;
  }

  .build_list_toggle .dropdown-menu{min-width:80px;left:32px;}

  .build_list_toggle .dropdown-menu>li>a{font-size:12px;color: #475669;text-align:center;
  border-top:1px solid #EFF2F7;}
  .build_list_toggle .dropdown-menu>li:last-child>a{border-bottom:1px solid #EFF2F7;}







.df_uex{width:25px;height:25px;text-align:center;background:#A2B0C4;line-height:25px;border-radius:50%;margin-top:-2px;
display:block;float:left;margin-right:6px;}
.uex-icon-user:before{
  content: "\e937";
  color:#475669;
}
.uex-icon-tenant1:before{
  content: "\e9fb";
  color:#475669;
}
.uex-icon-to-back:before{
  content: '\e9fd';
  color:#000;
}

/* 代码构建/构建 */
.uex-icon-start-all:before{
  content: '\e9e2';
  color:#57B5F2;font-size:12px;
}
/* 代码构建/查看代码源 */
.uex-icon-binary-forecast:before{
  content: '\e9e7';
  color:#57B5F2;font-size:14px;
}
/* 代码构建/查看镜像 */
.uex-icon-view-mapping:before{
  content: '\e994';
  color:#57B5F2;font-size:14px;
}
.uex-icon-view:before{
  content: '\e931';
  color:#57B5F2;font-size:14px;
}

.h_caret{display:inline-block;width:0;height:0;vertical-align:middle;
  border-top:6px dashed;border-right:6px solid transparent;border-left:6px solid transparent;margin-right:10px;
  color:#A2B0C4;margin-left:4px;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s}

  #js-navbar-collapse .dropdown-menu{min-width:152px;border:1px solid #f2f2f2;border-radius:0px;margin:0;padding:0px;}
  #js-navbar-collapse .dropdown-menu li{margin-top: 0px;
    padding:0px;
    height: 52px;
    line-height:52px;
    border-bottom: 1px solid #dfe4ef;
    background:#fff;}

    #js-navbar-collapse .dropdown-menu>li>a{height:52px;line-height:52px;padding:0px;padding-left:30px;}

// 左侧弹出框 公共
.page_tool_slide{position:relative;
  .page_search{width:26px;height:26px;display:inline-block;margin-bottom:0px;text-align:center;border:1px solid #CCD5E0;
  border-radius:4px;cursor:pointer;line-height:26px;}
  .no_box_shadow{-webkit-box-shadow:none;box-shadow:none;}
  .page_tp_st{margin-bottom:0px;}
  .page_tool_top{margin: 0;background: #fff;border-bottom: solid 1px #e0e6ed;height:45px;
    .page_tit{font-size: 14px;color: #1F2D3D;line-height: 16px;font-weight:bold;float:left;margin-left:20px;margin-top:14px;}
    .page_close{float:right;width:20px;height:20px;text-align:center;margin-top:12px;margin-right:10px;cursor:pointer;}
  }
  .page_tool_main{padding:20px;
    .itemname{font-size:12px;color:#475669;display:block;margin-bottom:4px;
      .red_cion{color:#f00;}
    }
    .membername{border:1px solid #CCD5E0;border-radius:4px;height:26px;padding-left:6px;padding-right:6px;font-size:12px;color:#475669;
   }
    .membername_fleft{ float:left;margin-right:6px;}
    .name_ipt{width:170px;}
    .itemvalue{
      .page_name_set{font-size:12px;color:#475669;}

    }
  }
  .sidebarfooter{margin-left:20px;}
}

.show_main{float:right;}
.show_main span{height:26px;border: 1px solid #CCD5E0;line-height:26px;background:#fff;color: #A2B0C4;font-size:12px;text-align:center;display:block;float:left;
border-radius:4px;cursor:pointer;}
.show_main span:nth-child(1){width:80px;margin-right:10px;}
.show_main span:nth-child(2){width:60px;}

// 公共选项卡效果
.tab-jia-default li.active .nav-link, .tab-jia-default li.active .nav-link:focus, .tab-jia-default li.active .nav-link:hover{
  border:0;
  border-bottom:3px solid #47B2FB;color:#47B2FB;
  background:#F9FAFC;
  font-size:12px;
}
.tab-jia-default li .nav-link:hover {

  font-size:12px;
  background:none;
  border-color:#F9FAFC;
}
.tab-jia-default .nav-tabs>li>a{font-size:12px;color:#1F2D3D;}


// 按钮（w:80  h:26）
.add_block{padding:0px 6px;height:26px;line-height:26px;border-radius: 4px;font-size:12px;color:#fff;display:block;}
.add_blue{background: #47B2FB;float:left;}

.service-table{border:1px solid #E0E6ED;margin-bottom:10px;}
.service-table>tbody>tr>th{
  background: #F9FAFC;
  border-bottom: 1px solid #E0E6ED;
  border-radius: 2px;
  border-top:1px solid #E0E6ED;position: relative;
}
// 侧边栏固定
#console #sidebar-container {
  width: 180px;
  padding: 0;
  -moz-transition:all 0.3s linear;transition:all 0.3s linear;
  position:fixed;/*侧边栏固定*/
}
.nav_top_toggle{left:74px;
  -webkit-transition:all 0.3s linear ;-moz-transition:all 0.3s linear;transition:all 0.3s linear;
}
.df_top_set{margin-top:62px!important;}
#offline_list .icon25 {
  margin: 0px;width:21px;
}
#offline_list .table_topMargin{
  margin-top: 20px;
  margin-left:20px;margin-right:20px;overflow:inherit;
}


.ball-clip-rotate-multiple {
  position: relative;
}

.ball-clip-rotate-multiple > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 4px solid #47B2FB;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  -webkit-animation: rotate 1s 0s ease-in-out infinite;
  animation: rotate 1s 0s ease-in-out infinite;
}

.ball-clip-rotate-multiple > div:last-child {
  display: inline-block;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  border-color: #47B2FB transparent #47B2FB transparent;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.loader {
  box-sizing: border-box;
  /*display: flex;*/
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width: 25%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*align-items: center;*/
  /*justify-content: center;*/
}/* 代码构建列表 */

// 状态0 ready 准备
.uex-icon-0:before {
  content: "\e954";
  color:#A2B0C4;
}
// 状态1 running 运行中
.uex-icon-1:before {
  content: "\e954";
  color:#50E3C2;
}

// 状态2 complete 完成
.uex-icon-2:before {
  content: "\e914";
  color:#50E3C2;
}

// 状态3 error 失败
.uex-icon-3:before {
  content: "\e915";
  color:#FB6362;
}

// 状态4 normal 正常
.uex-icon-4:before {
  content: "\e914";
  color:#A2B0C4;
}

// 状态5 stop 停止
.uex-icon-5:before {
  content: "\e916";
  color:#A2B0C4;
}

/* 数据为空 */
.blank_pic{background:url("../images/blank_pic.png") no-repeat;width:170px;height:100px;float:left;display:block;background-size:170px 100px;}
.blank_des{float:left;display:block;margin-right:10px;color:#A2B0C4;margin-left:4px;}
.df_go_create{width:60px;height:26px;line-height:26px;background:#A2B0C4;display:block;float:left;border-radius: 4px;color:#fff;}
.df_go_create:hover{color:#fff;}
.blank_create_tit{float:left;display:block;margin-top:40px;}
.blank_name{text-align:left;}
.blank_name .blank_tit{font-size:12px;color:#475669;}

.df_table .df_blank td{height:120px;position:relative;}
.df_table .df_blank:hover{background:none;}
.blank_block{
    padding: 6px 15px 6px;
    border-radius: 2px;
    margin-left: 30px;
    color: #5a6378;
    font-size: 12px;
    line-height: 25px;width:40%;height:120px;margin:0 auto;
}
.blank_block .blank_tit{font-size:12px;color:#475669;}
.df_table .blank_tit{font-size:12px;color:#A2B0C4;margin-left:0px;float:left;margin-top:40px;}

// 分页
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus {
    background-color: #fff;
    border:1px solid #47B2FB;color:#47B2FB;padding:2px 8px;margin-left:0;
    background:#fff;font-size:12px;
}
.pagination > .active > span:hover{
    background-color: #fff;
    border-color: #47B2FB;color:#47B2FB;
}
.pagination>li>a, .pagination>li>span{padding:2px 8px;color:#475669;font-size:12px;}
.pagination>.disabled>a{padding:2px 8px;background:#EFF2F7;color:#A2B0C4;}
.pagination>.disabled>a:hover{padding:2px 8px;background:#EFF2F7;color:#A2B0C4;}
.pagination>li>a:hover{color:#47B2FB;background:#fff;}
// 面包屑
.bread_set{height:42px;box-shadow: 0 1px 0 0 rgba(224,230,237,0.50);line-height:42px;background:#fff;position:fixed;left:180px;right:0px;z-index:999;
  -webkit-transition:all 0.3s linear ;-moz-transition:all 0.3s linear;transition:all 0.3s linear;top:50px;
}
.bread_tit{float: left;cursor: pointer;font-size: 12px;color: #475669;margin-left:20px;}
.bread_line{float:left;color:#A2B0C4;margin-left:5px;margin-right:5px;}
.bread_tit_back{float:left;font-size: 12px;color: #A2B0C4;}
.bread_set_toggle{left:75px;
  -webkit-transition:all 0.3s linear ;-moz-transition:all 0.3s linear;transition:all 0.3s linear;
}
.df_frame{margin:62px 20px 0px!important;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  -webkit-box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.04);border-color:transparent;}
// 状态load
.spinload{-webkit-animation:rotates 2s linear infinite;animation:rotates 2s linear infinite;display:inline-block;
  -webkit-transform-origin:center center;line-height:16px;
  transform-origin:center center;}
.spinload.uex-icon-0:before{-webkit-animation:rotates 2s linear infinite;animation:rotates 2s linear infinite;}
@-webkit-keyframes rotates{
 0%{-webkit-transform:rotate(0deg)}
 100%{-webkit-transform:rotate(360deg)}
}
@keyframes rotates{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
 }
 .colored{color:#168DDE;}
