
.nav_top_li{
    padding-top:8px;
    box-shadow: 0 1px 0 0 rgba(224,230,237,0.50);
    clear:both;padding-left:20px;padding-right:20px;background:#fff;height:42px;
    position: fixed;left:180px;right:0px;top:50px;z-index:999;
    -webkit-transition:all 0.3s linear ;-moz-transition:all 0.3s linear;transition:all 0.3s linear;
  }

  .searchbar {
    height: 26px;
    border: 1px solid #CCD5E0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;float:left!important;margin-top:1px;
  }
  .searchbar .form-control {
    border: none;
    box-shadow: none;
    color: #A2B0C4;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;font-size:12px;height:24px;
  }
  .searchbar:hover{border:1px solid #47B2FB}
  .searchbar:active{border:1px solid #47b2fb}
  
  .input-group-btn {
    position: relative;
    font-size: 12px;
    white-space: nowrap
  }
  
  .input-group-btn>.btn {
    position: relative
  }
  
  .input-group-btn>.btn+.btn {
    margin-left: -1px
  }
  .df_search{position:absolute;z-index:999;right:10px;font-size:12px;margin-top:-7px;color: #A2B0C4;}
  .searchbar:hover .df_search{color:#47B2FB;}
  
  .builder_create_btn{padding:0px;float:right;margin-top:1px;}
  
  #offline_list .btn-green_li{
      /* margin-right:20px; */padding:4px 10px;font-size:12px;height:26px;background:#47B2FB;color:#fff;
  }
 
  .fa-lg{font-size:12px;vertical-align: middle;}


  


#offline_list .table-buju{
  table-layout:fixed;
  overflow-x:hidden;
  overflow-y:auto;
}
#offline_list .table_headOperating{
  text-align:left;text-indent:8px;
}
#offline_list .buildname{
  white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;
}
#offline_list .OperatingContent{
  text-align: center; padding-left: 0;padding-right: 0;
}
#offline_list Operating{
  white-space: nowrap; text-align: center;margin-left:10px;margin-right:10px;
}
#offline_list td_colspan_li{
  text-align: center;background: #fff;position:relative
}



#offline_list .table-responsive .buildname {
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;

}
  