<div id="console">
  <!-- 头部自定义 -->
  <c-header></c-header>


  <div class="container-fluid view-container" style="margin-top:50px;">
    <div style="width:100%;">
      <a class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-container" aria-expanded="false" href="javascript:;">
        <span class="caret"></span>
      </a>
      <div id="sidebar-container" style="position: fixed;left: 0;top:50px;bottom:0px;background:#F5F6F9;z-index:100;
            box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.33);-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.33);-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.33);z-index:1000;"
        class="navbar-collapse">
        <!-- 左导航自定义 -->
        <c-sidebar></c-sidebar>
      </div>

      <div id="sidebar-right-fixed" class="service-pad" style="margin-left:180px;" full-height>
        <div class="bread_set" ng-if="hasBack()" add-classes-map>
          <span class="bread_tit" ng-click="back()">
            {{tab | stateNameFilter}}
          </span>
          <span class="bread_line">/</span>
          <span class="bread_tit_back">
            {{tab | stateTitleFilter}}
          </span>
          <!-- {{tab}} -->
        </div>
        <div>
          <div ui-view></div>
        </div>

      </div>
    </div>


  </div>
</div>