<div style="padding: 20px;font-size: 12px;" class="df_frame create-box panel panel-default panel_marginBottom">
  <h3 class="h3_tit" style="margin-bottom: 20px;">作业设置</h3>
  <div class="row" style="padding-left: 13px;">
      <div class="col-sm-2 require" style="width: 105px;">作业类型</div>
      <div  class="col-sm-10 child-no-padding">
        <div class="dropdown dropdown-select" style="min-width: 167px;height: 26px;margin-right: 36px;">
          <button  class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;padding: 0px 12px;">
            <span>{{taskType}}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu"
              style="max-height: 100px; min-width: 167px;margin-top: -1px;overflow-y: auto">
            <li ng-repeat="name in taskTypeArr" style="height: 26px;font-size: 12px;">
              <a href="javascript:;" style="" ng-click="changeTaskType(name)">{{name}}</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div class="row" style="padding-left: 13px;">
      <div class="row" style="margin-top:20px;padding-bottom: 20px;">
        <div class="col-sm-2 require" style="width: 105px;">作业参数</div>
        <div class="col-sm-10 child-no-padding"  >
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-3">inputpath</div>
            <div class="col-sm-3" ng-if="requestData.type==0 || requestData.type==1">target_phones</div>
            <div class="col-sm-3" ng-if="requestData.type==2">outputpath</div>
          </div>
          <div class="row">
            <!--<div class="col-sm-3" ng-repeat="(k,v) in requestData" style="width: 170px;margin-right: 30px;"><input ng-model="v" class="form-control service-small-input" type="text" placeholder="请输入“值”"></div>-->
            <div class="col-sm-3" style="width: 170px;margin-right: 30px;"><input ng-model="requestData.inputObj.inputpath" class="form-control service-small-input" type="text" placeholder="请输入“值”"></div>
            <div class="col-sm-3" style="width: 170px;margin-right: 30px;" ng-if="requestData.type==0 || requestData.type==1"><input ng-model="requestData.inputObj.target_phones" class="form-control service-small-input" type="text" placeholder="请输入“值”"></div>
            <div class="col-sm-3" style="width: 170px;margin-right: 30px;" ng-if="requestData.type==2"><input ng-model="requestData.inputObj.outputpath" class="form-control service-small-input" type="text" placeholder="请输入“值”"></div>
            <small ng-if="errObj.requestErr" class="fa fa-info-circle err-tip" style="margin-left:-15px;">请输入参数</small>
          </div>
        </div>
      </div>
  </div>
  <h3 class="h3_tit" style="margin-bottom: 20px;">时间设置</h3>
  <div class="row" style="padding-left: 13px;">
    <div class="row" style="padding-bottom: 20px;">
      <div class="col-sm-2 require" style="width: 105px;">执行时间</div>
      <div class="col-sm-10 child-no-padding">
        <date-pick st="grid.st" et="grid.et"></date-pick><small ng-if="errObj.timeErr" class="fa fa-info-circle err-tip" style="margin-left:15px;">请选择执行时间</small>
      </div>
    </div>
  </div>
  <div class="row" style="padding-left: 13px;" >
    <div class="row" style="padding-bottom: 20px;">
      <div class="col-sm-2" style="width: 105px;">循环任务</div>
      <div class="col-sm-10 child-no-padding">
        <c-checkbox checked="ifPeriod" ng-show="requestData.type!=2"></c-checkbox>
      </div>
    </div>
    <div ng-class="{'ifPeriod-false':requestData.type==2}"style="padding-bottom: 20px;" ng-if="ifPeriod">
      <div class="col-sm-2" style="width: 105px;"></div>
      <div class="col-sm-10 child-no-padding">
        <div class="dropdown dropdown-select" style="min-width: 167px;height: 26px;margin-right: 36px;">
          <button  class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;padding: 0px 12px;">
            <span>{{period.cuePeriod}}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu"
              style="max-height: 100px; min-width: 167px;margin-top: -1px;overflow-y: auto">
            <li ng-repeat="pd in periodArr" style="height: 26px;font-size: 12px;">
              <a href="javascript:;" style="" ng-click="changePd(pd)">{{pd}}</a>
            </li>
          </ul>
        </div>
        <input class="form-control service-small-input" type="number" ng-model="period.pdNum" max={{maxLenght}} min="0">
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
      <button class="create_btn" ng-click="createQuery()">保存</button>
  </div>

</div>
<style>
  .create-box div{
    margin:0;
    padding:0;
  }
  .ifPeriod-false{
    margin-top:-36px !important;
  }
  .service-small-input {
    width: 167px;
    height: 26px;
  }
  .form-control {
    border: 1px solid #ccd5e0;
    border-radius: 4px;
    box-shadow: none;
    color: #5a6378;
    font-size: 12px;
    height: 24px;
  }
  .fa-lg {
    font-size: 12px;
    vertical-align: middle;
  }
  .href-add {
    color: #47B2FB;
    text-decoration: none;
  }
  .del-margin {
    margin-top: 10px;
  }
  .create_btn{
    width: 48px;
    height: 26px;
    line-height: 26px;
    background: #47B2FB;
    border-radius: 4px;
    color: #fff;
    border:none;
  }
</style>
