<div class="panel panel-default panel_marginBottom df_frame" style="padding: 20px;font-size: 12px;">
  <div class="module-heading">
    <div class="module_block_l">
      <div class="img-block">

      </div>
      <div class="img-detail">
        <p class="img-tit">{{taskDatailItem.task_id}}</p>
        <p class="img-time">
          <span classs="module_tit">创建时间：</span>
          <span class="module_time">{{taskDatailItem.create_time}}</span>
          <span classs="module_tit" style="margin-left: 30px;">调度时间：</span>
          <span class="module_time">{{taskDatailItem.schedule | scheduleTime}}</span>
        </p>
        <p class="img-new">
          <span class="module_tit">运行状态：</span>
          <small>{{taskDatailItem.status| phaseFilter}}</small>
        </p>
      </div>
    </div>
    <div class="module_block_r">
      <span class="module_block_r_r module_block_e" ui-sref="console.create-offline-query({task_id: taskDatailItem.task_id})">
        <i class="uex-icon-edit icon-color"></i>
      </span>
      <span class="module_block_r_r module_block_d" ng-click="deleteTaskDetail()">
        <i class="uex-icon-delete icon-color"></i>
      </span>
    </div>
  </div>
  <!--<ul style="text-decoration: none;list-style: none;">-->
    <!--<li style="float: left;">查询结果</li>-->
    <!--<li style="float: left;">详情记录</li>-->
  <!--</ul>-->

  <!--<uib-tabset class="tab-default tab-jia-default" active="active">-->
    <!--<uib-tab index="1">-->
      <!--<uib-tab-heading>-->
        <!--查询结果-->
      <!--</uib-tab-heading>-->
      <!--<graph-char id="main5" nodes="nodes" widthHeight="widthHeight"></graph-char>-->
    <!--</uib-tab>-->
    <!--<uib-tab index="2">-->
      <!--<uib-tab-heading>-->
        <!--详情记录-->
      <!--</uib-tab-heading>-->
      <!--<h4 class="df_tit" style="margin-top: 20px;">作业设置</h4>-->
      <!--<div class="row">-->
        <!--<div class="col-sm-2" style="width: 120px;">作业类型</div>-->
        <!--<div class="col-sm-10">{{taskDatailItem.task_builder}}</div>-->
        <!--<div class="col-sm-2" style="width: 120px;">作业参数</div>-->
        <!--<div class="col-sm-10">-->
          <!--<div class="row" ng-repeat="i in resultRequestData">-->
            <!--<div class="col-sm-2" style="padding-left: 0px;">{{i.key}}</div>-->
            <!--<div class="col-sm-10" style="padding-left: 0px;">{{i.value}}</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<h4 class="df_tit" style="margin-top: 20px;">时间设置</h4>-->
      <!--<div class="row">-->
        <!--<div class="col-sm-2" style="width: 120px;">执行时间</div>-->
        <!--<div class="col-sm-10">{{taskDatailItem.schedule}}</div>-->
        <!--<div ng-if="taskDatailItem.period">-->
          <!--<div class="col-sm-2" style="width: 120px;">循环任务</div>-->
          <!--<div class="col-sm-10">{{taskDatailItem.period}}</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</uib-tab>-->
  <!--</uib-tabset>-->
  <ul class="navitems">
    <li ng-class="{'active':liIsSelected[0]}" ng-click="activeChange(0)">
      <span>租户列表</span>
    </li>
    <li ng-class="{'active':liIsSelected[1]}" ng-click="activeChange(1)">
      <span>服务资源</span>
    </li>
  </ul>
  <div ng-if="liIsSelected[0]" style="margin-top: 20px;border: solid 1px #E0E6ED;">
    <graph-char id="main5" nodes="nodes" widthHeight="widthHeight"></graph-char>
  </div>
  <div ng-if="liIsSelected[1]" class="resource-part">
    <h4 class="df_tit" style="margin-top: 20px;">作业设置</h4>
    <div class="row">
      <div class="col-sm-2" style="width: 120px;">作业类型</div>
      <div class="col-sm-10">{{taskDatailItem.task_builder}}</div>
      <div class="col-sm-2" style="width: 120px;">作业参数</div>
      <div class="col-sm-10">
        <div class="row" ng-repeat="i in resultRequestData">
          <div class="col-sm-2" style="padding-left: 0px;">{{i.key}}</div>
          <div class="col-sm-10" style="padding-left: 0px;">{{i.value}}</div>
        </div>
      </div>
    </div>
    <h4 class="df_tit" style="margin-top: 20px;">时间设置</h4>
    <div class="row">
      <div class="col-sm-2" style="width: 120px;">执行时间</div>
      <div class="col-sm-10">{{taskDatailItem.schedule | scheduleTime}}</div>
      <div ng-if="taskDatailItem.period">
        <div class="col-sm-2" style="width: 120px;">循环任务</div>
        <div class="col-sm-10">{{taskDatailItem.period}}</div>
      </div>
    </div>
  </div>
</div>

