<div id="offline_list">
  <!-- 接口慢时加载动画 -->
  <div class="loader" ng-show="!alldata">
    <div class="loader-inner ball-clip-rotate-multiple">
      <div></div>
      <div></div>
    </div>
  </div>

  <div ng-show="alldata">

    <div class="nav_top_li" add-classes-top style="">
      <div class="input-group col-sm-3 searchbar">
        <input type="text" class="form-control" placeholder="搜索任务ID" ng-model="grid.txt" ng-keyup=offlinesearch(grid.txt)>
        <!--ng-model="txt" ng-focus="showTip=true;" -->
        <span class="input-group-btn">
          <span class="df_search uex-icon-search">
          </span>
        </span>
      </div>
      <div class="builder_create_btn">
        <a class="btn btn-green btn-green_li"
           ng-click="addOrUpdate()">
          <i class="uex-icon-add"></i>
          <span class="hidden-xs">新建作业</span>
        </a>
      </div>

    </div>

    <!-- 列表 -->
    <div class="table-responsive table_topMargin df_top_set" style="">
      <table class="table table-hover table-default table-buju df_table" style="">
        <tr>
          <div class="row row_set">
            <th class='col-lg-3 col-md-3 col-sm-3'>任务ID</th>
            <th class='col-lg-1 col-md-1 col-sm-1'>运行状态</th>
            <!-- <th class='col-lg-2 col-md-2 col-sm-2'>作业类型</th> -->
            <th class='col-lg-2 col-md-2 col-sm-2'>
              <div uib-dropdown on-toggle="toggled(open)" class="build_list_toggle">
                <a href="javascript:void(0);" class="service_block" uib-dropdown-toggle>
                  <span style="color: #168DDE;text-align:center;display:block;margin:0 auto;position:relative;">作业类型
                    <!-- ({{grid.changestatus}}) -->
                    <b class="ser_bg_btn uex-icon-caret-top"></b>
                  </span>

                </a>
                <ul class="service_drop" uib-dropdown-menu aria-labelledby="user-menu">
                  <!-- <li>123213</li>
                    <li>234324</li> -->
                  <li  ng-repeat="name in grid.status" ng-click=grid.changestatus=name.name>
                          <a href="javascript:void(0);">
                            <span ng-class="{colored:name.name===grid.changestatus}">{{name.name}}</span>
                          </a></li>
                </ul>
              </div>
            </th>
            <th class='col-lg-2 col-md-2 col-sm-2'>创建时间
              <span class="sort_btn">
                <i class="uex-icon-to-back"></i>
              </span>
            </th>
            <th class='col-lg-2 col-md-2 col-sm-2'>调度时间
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2">操作</th>
          </div>

        </tr>
        <!-- {{alldata}} -->
        <tr ng-repeat="offdata in itemdata">
          <td class='buildname' style="">
            <a class="href-orange" ui-sref="console.offline-detail({task_id: offdata.task_id})" uib-tooltip="{{offdata.metadata.name}}"
              tooltip-placement="top">{{offdata.task_id}}</a>
          </td>
          <td>

            <span class="icon12 uex-icon-{{offdata.status}}"
            ng-class="{'spinload': offdata.status == 0}"></span>
            {{offdata.status | phaseFilter}}

          </td>
          <td style="text-align:center;padding-left:10px;">
            <span>
              {{offdata.type | typeFilter}}
            </span>
          </td>
          <td>
            {{offdata.create_time}}
          </td>
          <td>
            {{offdata.schedule | scheduleTime}}
          </td>

          <td class="text-center threec OperatingContent" style="">
            <div class="row Operating" style=''>
              <a ng-if="offdata.type==0" class="icon25  col-lg-4 col-md-4 col-sm-4 uex-icon-0 build_df_set" href="javascript:;" uib-tooltip="停止"></a>
              <a ng-if="offdata.type!=0 && offdata.status==0 || offdata.type!=0 && offdata.status==5" class="icon25  col-lg-4 col-md-4 col-sm-4 uex-icon-0 build_df_set" href="javascript:;" uib-tooltip="停止"></a>
              <a ng-if="offdata.type!=0 && offdata.status!=0 && offdata.status!=5" class="icon25  col-lg-4 col-md-4 col-sm-4 uex-icon-1 build_df_set" href="javascript:;" uib-tooltip="停止" ng-click="stopTask(offdata.task_id)"></a>

              <a class="icon25 icon25-image col-lg-4 col-md-4 col-sm-4 build_df_set uex-icon-edit"
                 ng-click="addOrUpdate(offdata.task_id)"
                 uib-tooltip="编辑">
              </a>

              <a class="icon25 icon25-stop  col-lg-4 col-md-4 col-sm-4 uex-icon-delete build_df_set" ng-click="deldata(offdata.task_id)" href="javascript:;" uib-tooltip="删除"></a>

            </div>
          </td>
        </tr>
        <tr class="df_blank">
          <td colspan="6" class="td_colspan_li" style="text-align: center;" ng-if="itemdata.length===0">
            <div class="blank_block">
              <span class="blank_pic"></span>
              <span class="blank_tit">{{text}} </span>
              <div class="blank_create_tit" ng-if="begin_blank">
                <span class="blank_des">，点击</span>
                <a class="df_go_create" ui-sref="console.create-offline-query">
                  <span class="hidden-xs">去创建</span>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="text-center" ng-if="grid.total > 10">
        <uib-pagination class="pagination" ng-model="grid.page" total-items="grid.total" items-per-page="grid.size" boundary-links="false"
          max-size="10" rotate="true" previous-text="<" next-text=">">
        </uib-pagination>
      </div>

    </div>
  </div>




</div>
