<div>
  <div class="row" style="font-size: 12px;margin-top: 15px;">
    <div class="col-sm-3">
        <span style="float:left;margin-top:5px;margin-right: 8px;">查询模型:</span>
       <div class="dropdown dropdown-select" style="min-width: 130px;height: 26px;margin-right: 36px;">
        <button  class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;padding: 0px 12px;">
          <span>{{curModelName}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            style="max-height: 100px; min-width: 130px;margin-top: -1px;overflow-y: auto">
          <li ng-repeat="name in modelName" style="height: 26px;font-size: 12px;">
            <a href="javascript:;" style="" ng-click="changeModelName(name)">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <span style="float:left;margin-top:5px;margin-right: 8px;">查询范围:</span>
      <div class="dropdown dropdown-select" style="min-width: 130px;height: 26px;margin-right: 36px;">
        <button  class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;padding: 0px 12px;">
          <span>{{curModelScope}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            style="max-height: 100px; min-width: 130px;margin-top: -1px;overflow-y: auto">
          <li ng-repeat="name in modeScope" style="height: 26px;font-size: 12px;">
            <a href="javascript:;" style="" ng-click="changeModelScope(name)">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <span style="float:left;margin-top:5px;margin-right: 8px;">查询参数:</span>
      <div class="searchbar" style="position: relative;">
        <input type="text" class="form-control" style="width: 200px;color: #555" placeholder="请输入查询参数" ng-model="searchTxt">
      </div>
      <button class="create_btn" style="float: right;" ng-click="search()">查询</button>
    </div>
  </div>

  <!--<line id="main" nodes="nodes" link="link"></line>-->
  <div style="border: solid 1px #E0E6ED;margin: 20px;">
    <graph-char id="main1" idName="main1" nodes="nodes" link="link" widthHeight="widthHeight"></graph-char>
  </div>
  <!--<line-three id="main2" nodes="nodes" link="link"></line-three>-->
</div>
